* {
  margin: 0;
}

.header {
  background-image: url("../../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.header:before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: .5;
  position: absolute;
}

@media (max-width: 576px) {
  .header {
    height: 150vh;
  }
  .header::before {
    height: 150vh;
  }
}

.header__navegacion {
  background-color: #393e46;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 9em;
  position: relative;
}

@media (max-width: 576px) {
  .header__navegacion {
    padding: 1em 1em;
  }
}

.header__logo a {
  color: #fffafa;
  text-decoration: none;
  font-size: 1.6em;
}

.header__imagen {
  display: none;
}

.header__imagen img {
  width: 30px;
  height: 30px;
}

@media (max-width: 576px) {
  .header__imagen {
    display: block;
  }
}

.header__menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__menu li {
  list-style: none;
  margin: 0 .7em;
}

.header__menu li a {
  color: #fffafa;
  text-decoration: none;
  font-size: 1.35em;
}

@media (max-width: 576px) {
  .header__menu {
    display: none;
  }
}

.header__texto {
  height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

@media (max-width: 576px) {
  .header__texto {
    height: 120vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
  }
}

.header__titulo {
  color: #fffafa;
}

.header__titulo h1 {
  font-size: 6em;
}

.header__titulo h1 span {
  font-size: 0.6em;
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 6.3em;
  }
}

.seccion-uno {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .seccion-uno {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.seccion-uno__parrafo {
  width: 30%;
}

.seccion-uno__parrafo h2 {
  font-size: 3.5em;
}

.seccion-uno__parrafo p {
  font-size: 1.2em;
}

@media (max-width: 576px) {
  .seccion-uno__parrafo {
    width: 80%;
  }
  .seccion-uno__parrafo h2 {
    font-size: 3em;
    margin-top: 2em;
  }
  .seccion-uno__parrafo p {
    font-size: 1.1em;
  }
}

.seccion-uno__imagen {
  width: 30%;
}

.seccion-uno__imagen img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 2em;
}

@media (max-width: 576px) {
  .seccion-uno__imagen img {
    width: 250px;
    height: 250px;
    margin-top: 5em;
  }
}

@media (max-width: 576px) {
  .seccion-uno__imagen {
    width: 100%;
    text-align: center;
  }
}

.seccion-dos {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .seccion-dos {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.seccion-dos__parrafo {
  width: 30%;
}

.seccion-dos__parrafo h2 {
  font-size: 3.5em;
}

.seccion-dos__parrafo p {
  font-size: 1.2em;
}

@media (max-width: 576px) {
  .seccion-dos__parrafo {
    width: 80%;
  }
  .seccion-dos__parrafo h2 {
    font-size: 3em;
    margin-top: 2em;
  }
  .seccion-dos__parrafo p {
    font-size: 1.1em;
  }
}

.seccion-dos__imagen {
  width: 30%;
}

.seccion-dos__imagen img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 2em;
}

@media (max-width: 576px) {
  .seccion-dos__imagen img {
    width: 250px;
    height: 250px;
    margin-top: 5em;
  }
}

@media (max-width: 576px) {
  .seccion-dos__imagen {
    width: 100%;
    text-align: center;
  }
}

.seccion-tres {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .seccion-tres {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.seccion-tres__parrafo {
  width: 30%;
}

.seccion-tres__parrafo h2 {
  font-size: 3.5em;
}

.seccion-tres__parrafo p {
  font-size: 1.2em;
}

@media (max-width: 576px) {
  .seccion-tres__parrafo {
    width: 80%;
  }
  .seccion-tres__parrafo h2 {
    font-size: 3em;
    margin-top: 2em;
  }
  .seccion-tres__parrafo p {
    font-size: 1.1em;
  }
}

.seccion-tres__imagen {
  width: 30%;
}

.seccion-tres__imagen img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 2em;
}

@media (max-width: 576px) {
  .seccion-tres__imagen img {
    width: 250px;
    height: 250px;
    margin-top: 5em;
  }
}

@media (max-width: 576px) {
  .seccion-tres__imagen {
    width: 100%;
    text-align: center;
  }
}

.footer {
  background-color: #393e46;
  padding: 2em 0;
  text-align: center;
}

.footer p {
  color: #fffafa;
  font-size: 1.2em;
}
